$top-margin: 4rem;
.footer {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(-15deg, #100700, #512300);
    color: #ffe6d0;
    height: 25vh;
    padding: $top-margin 12vw 2rem 7vw;
    h3 {
        font-family: 'Poiret One', cursive;
        font-size: 2.25rem;
        margin: 0;
    }
    .icons {
        display: flex;
        a {
            display: block;
            width: 56px;
            height: 56px;
            margin-left: 1.5rem;
            transform: scale(0.85);
            opacity: 0;
            margin-top: -$top-margin;
            transition-property: opacity, margin-top;
            transition-duration: 0.5s;
            &:hover {
                transform: scale(1);
            }
        }
    }
}

.linkedin {
    background-image: url('/images/linkedin.png');
}

.github {
    background-image: url('/images/github.png');
}

.facebook {
    background-image: url('/images/facebook.png');
}

.email {
    background-image: url('/images/email.png');
}

.active {
    @for $i from 1 through 9 {
        .icons a {
            opacity: 1;
            margin-top: 0;
        }
        .icons a:nth-child(#{$i}) {
            transition-delay: (0.3s+$i*0.5s);
        }
    }
}