.footer {
    display: flex;
    flex-direction: column;
    justify-content: strech;
    background: linear-gradient(-15deg, #100700, #512300);
    color: #ffe6d0;
    height: 25vh;
    padding: 6vh 8vw 2rem 7vw;
    --icon-size: 40px;
    @media (min-width: 567px) {
        flex-direction: row;
        justify-content: space-between;
    }
    @media (max-height: 360) {
        padding-top: 2.5rem;
    }
    @media (min-width: 1024px) {
        --icon-size: 56px;
        padding-right: 12vw;
    }
    h3 {
        font-family: 'Poiret One', cursive;
        font-size: 2.25rem;
        margin: 0 1em 1em 0;
    }
    .icons {
        display: flex;
        justify-content: flex-end;
        a {
            display: block;
            width: var(--icon-size);
            height: var(--icon-size);
            margin-left: 1.5rem;
            transform: scale(0.85);
            opacity: 0;
            margin-top: -4rem;
            transition-property: opacity, margin-top;
            transition-duration: 0.5s;
            background-size: contain;
            &:hover {
                transform: scale(1);
            }
        }
    }
}

.linkedin {
    background-image: url('/images/linkedin.png');
}

.github {
    background-image: url('/images/github.png');
}

.facebook {
    background-image: url('/images/facebook.png');
}

.email {
    background-image: url('/images/email.png');
}

.active {
    @for $i from 1 through 4 {
        .icons a {
            opacity: 1;
            margin-top: 0;
        }
        .icons a:nth-child(#{$i}) {
            transition-delay: (0.3s+$i*0.5s);
        }
    }
}