html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 50%;
    @media (min-width: 768px) {
        font-size: 80%;
    }
    @media (min-width: 1080px),
    (min-width: 1024px) and (orientation: portrait) {
        font-size: 100%;
    }
    @media (max-width: 375px) and (orientation: portrait) {
        font-size: 45%;
    }
}

 :root {
    --left-margin: 12vw;
    --top-margin: 3.6vh;
    @media (orientation: landscape) {
        --left-margin: 40vw;
        --top-margin: 7vh;
    }
    @media (max-width: 375px) and (orientation: portrait) {
        --left-margin: 7vw;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.scroll-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.scroll-container section {
    width: 100%;
    height: 100%;
}

.dots {
    z-index: 1;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    li a {
        padding: 10px;
        width: 4px;
        height: 5px;
        display: block;
        &:before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background: rgba(255, 255, 255, 0.48);
            border-radius: 10px;
            transition: transform 0.3s ease, background-color 0.3s ease;
            right: 10px;
        }
        &.active:before {
            background-color: #FFFFFF;
            width: 14px;
            height: 14px;
            margin-top: -4px;
            left: 7px;
            background-color: white;
            transform: scale(1.0);
        }
    }
}