$left-margin: 40vw;
$top-margin: 35vh;
.container {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.title {
    font-family: 'Lora', serif;
    margin: 0;
    line-height: 1.15;
    font-size: 5.063rem;
    position: fixed;
    left: $left-margin;
    top: $top-margin;
    z-index: 10;
    color: #100700;
}

.summary {
    position: relative;
    margin-left: $left-margin;
    margin-top: $top-margin;
    padding-top: 7rem;
    margin-right: 50px;
    transition: margin-top 0.3s ease-out, opacity 0.3s ease-in-out;
    h2 {
        margin: 0;
        font-family: 'Poiret One', cursive;
        font-size: 3.375rem;
        color: azure;
    }
    p {
        margin: 1em 0 0;
    }
}

.scroll {
    margin-top: calc(var(--offset, 0) * 0.8 + 35vh);
    opacity: calc(var(--abs-offset, 0) * (-0.3) + 1);
}

.prev {
    opacity: 0;
}

.prev-scroll {
    margin-top: calc(var(--offset, 0) * 0.6 + 84vh);
}

.next {
    margin-top: calc(var(--offset, 0) * 0.6 - 14vh);
}

.active {
    h2 {
        animation: attention 0.8s ease-in-out 0.5s;
    }
}

// https://github.com/animate-css/animate.css/blob/main/source/attention_seekers/headShake.css 
@keyframes attention {
    0% {
        transform: translateX(0);
    }
    6.5% {
        transform: translateX(-6px) rotateY(-9deg);
    }
    18.5% {
        transform: translateX(5px) rotateY(7deg);
    }
    31.5% {
        transform: translateX(-3px) rotateY(-5deg);
    }
    43.5% {
        transform: translateX(2px) rotateY(3deg);
    }
    50% {
        transform: translateX(0);
    }
}

.bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: 0 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.quote {
    font-size: 1.5rem;
}